.switch {
  display: inline-flex;
  margin: 30px 0 50px;
  justify-content: center;
}

.option {
  cursor: pointer;
  height: 30px;
  width: 30px;
  color: var(--dark-gray);
}

.option:last-child {
  margin-left: 10px;
}

.active {
  color: var(--bs-secondary-color);
}

.cocktailsContent {
  margin-top: 6em;
}

.icon-search {
  background-color: white;
  border: none;
  color: var(--bs-primary);
}

#drink {
  border: none;
  color: var(--dark-text-color);
}
