
.hero-img-container {
    position: relative;
    background-position: top;
    background-size: contain;
    min-height: 100vh;
    width: 100%;
    z-index: 1;
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
  }

  .content-position {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
  }
  
  .hero-container {
    height: 100%;
  }
  
  /*=== HOME HERO ===*/
  
  .home-hero {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    height: 100%;
    align-items: center;
  }
  
  .home-hero-text {
    width: 100%;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2rem;
    color: var(--text-color);
  }
  
  .home-hero-title {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    gap: 1rem;
  }
  
  .home-hero-title h2 {
    font-weight: 900;
  }
 
  .home-hero-text p {
    align-self: center;
    color: var(--light-gray);
    max-width: 70ch;
    line-height: 1.6;
  }
  
  .home-hero-text .btn {
    align-self: center;
    border-radius: 22px;
  }

  
/*=== HOME HERO MEDIA ===*/
@media screen and (min-width: 992px) {
    .home-hero {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .home-hero-text {
      grid-column: 1/7;
      gap: 3rem;
      text-align: left;
      place-items: start;
    }
  
    .home-hero-text p {
      align-self: flex-start;
      color: var(--light-gray);
      max-width: 70ch;
      line-height: 1.6;
    }
  
    .home-hero-text .btn {
      align-self: unset;
    }
  
  }