.historyImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 300px;
}

.containerImg {
    position: relative;
    height: 100vh;
}


@media (max-width: 992px){
    .containerImg {
      height: 60vh;
    }
  }

.img1 {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url('../../assets/image/img1.jpg');
}

.img2 {
    position: absolute;
    z-index: 2;
    top: 6em;
    left: 6em;
    background-image: url('../../assets/image/img2.jpg');
}

.img3 {
    position: absolute;
    z-index: 2;
    top: 12em;
    left: 12em;
    background-image: url('../../assets/image/img3.jpg');
}