
.swiper-vertical > .swiper-wrapper {
    height:100vh;
}

.swiper-slide {
background: rgba(0, 0, 0, 0.28);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.9px);
-webkit-backdrop-filter: blur(4.9px);
display: flex !important;
}

.cocktail-hero {
    width: 60%;
    display: flex;
    align-items: center;
    padding-left: 10em;
}

.cocktail-datails {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10em;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}
.swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 2em !important;
}
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    background-color: var(--bs-primary);
}
.cocktailName {
    font-family: 'Courgette', cursive;
}

.cocktail-type {
    font-family: 'Noto Sans JP', sans-serif;
}