.userReview {
    width: 50px;
  }
  
  .review {
    background-color: var(--extra-dark-gray);
    padding: 15px 20px;
    border-radius: 10px;
    color: var(--bs-primary-text);
  }
  
  .cardWidth {
    width: 30%;

  }
  