footer {
    background-color: rgb(24, 24, 24);
    color: var(--bs-text-color);
    padding-top: 30px;
  }
  
  .courierLogo {
    width: 100px;
    height: fit-content;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .footerBottom {
    background-color:rgb(20, 20, 20);
    padding: 10px 0px;
    color: var(--bs-text-color);
  }
  