.nav {
    background-color: transparent;
    height: 4rem;
    box-shadow: var(--light-shadow);
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    align-items: center;

    position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s;
  background-color: transparent;
  }

  .nav-scrolled {
    background-color: black; /* Colore di sfondo desiderato */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Esempio di ombra */
  }
  
  .nav-header {
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-brand {
    margin-bottom: 0.1rem;
    color: var(--bs-text-color);
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  .nav-toggler {
    font-size: 1.5rem;
    padding-bottom: 0;
    align-self: center;
    transition: var(--btn-transition);
  }
  
  .nav-toggler:hover .nav-icon {
    transform: rotateZ(90deg);
  }
  
  .nav-links {
    display: none;
  }
  
  .nav-link {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    white-space: nowrap;
  }
  
  .nav-text {
    font-size: 1.3rem;
    text-transform: lowercase;
    font-variant: small-caps;
  }
  
  .socialTop {
    display: none;
  }
  
  .nav-item {
    transition: var(--bs-text-color);
  }
  
  .nav-item:hover {
    color: var(--bs-text-color);
  }
  
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  

  @media screen and (min-width: 992px) {
    .nav {
      -moz-justify-content: space-around;
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      height: 5rem;
    }
  
    .container {
      width: 90%;
    }
  
    .nav-container {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      align-items: center;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
    }
  
    .nav-header {
      text-align: left;
      width: fit-content;
    }
  
    .links-container {
      justify-self: center;
    }
    .nav-toggler {
      display: none;
    }
  
    .nav-links {
      width: 50%;
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      -moz-justify-content: space-between;
      -webkit-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
    }

    .nav-link {
      color: var(--bs-text-color);
    }

    .nav-link:hover {
      color: var(--bs-secondary-color);
    }
  
    .nav-icon {
      font-size: 1.4em;
    }
  
    .socialTop {
      display: grid;
      display: -moz-grid;
      display: -ms-grid;
      display: -webkit-grid;
      align-items: center;
      grid-template-columns: auto auto auto;
      gap: 1rem;
      font-size: 1.2rem;
    }
  }

  